{% load static %}
<style>
  #nav{
    font-size: 25;
    font-weight: strong;
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding-left: 150px; padding-right: 150px;">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          {% if user.is_authenticated %}
            {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/insert">Insert</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/report">Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/export_to_excel">Export to CSV</a>
            </li>
            {% endif %}
          {% endif %}
        </ul>
        <!-- Login -->
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="btn btn-outline-primary" style="background-color: blue; color: whitesmoke;"href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <span class="btn btn-outline-primary" style="background-color: green; color: whitesmoke;">User logged: {{user.username|title}}</span>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="btn btn-outline-primary" style="background-color: blue; color: whitesmoke;" href="/login">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </nav>